
input{
  opacity: 0;
}

.attachment{
    transition: all .5s;
    border: none;
    outline: none;
    opacity: 0;
    position: absolute;
    right: calc(81px - 2%);
    top: 0px;
    border-top-right-radius: 25px;
}
.attachment mat-icon{
  top: 25px;
  position: absolute;
  right: 29px;
  cursor: pointer;
  color: blue;

}
img.img{
    width: inherit;
    /* height: 31%; */
    vertical-align: middle;
    border-radius: 23px;
    margin: 0 3%;
    box-shadow: #eaeaea 0px 0px 12px 3px;
    position: inherit;
    max-height: 315px;
    min-height: 315px;
}
.uploader{
  position: relative;
  /*width: inherit;*/
  display: block;
  width: 97%;
}
.progress{
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}
.cancel-upload{
  top: -12px;
  position: relative;
  cursor: pointer;
}
.uploader:hover .attachment{
  opacity: 1;
}
@media (max-width: 660px){
  .attachment{
    right: calc(11px - 1%);
  }
}
