.sidenav-container {
  height: 100%;

}
*{
    font-family: cursive;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main{
  /*background-image: url('src/assets/background1.jpg');*/
  /*https://eu.wholefoodsmarket.com/uploads/desktop-img-beets.jpg*/
  background-image:url('https://www.wholefoodsmarket.co.uk/uploads/2020_May_PCD_OC_Web_Homepage-Banner_2880x930.jpg');
  background-origin: all;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-button{
  margin-right: 23px;
}